.intersection {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .light-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .north,
  .south {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .north {
    top: 0;
  }
  
  .south {
    bottom: 0;
  }
  
  .east,
  .west {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .east {
    right: 0;
  }
  
  .west {
    left: 0;
  }
  
  .button-north,
  .button-south,
  .button-east,
  .button-west {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 30px;
  }
  

  
  .button-north {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button-south {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button-east {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
  }
  
  .button-west {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
  }
  
  .panic-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    border: 2px solid red;
    color: red;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .panic-button:hover {
    background-color: red;
    color: white;
    border: none;
  }
  
  .panic-button:disabled {
    background-color: black;
    color: white;
    border: none;
    cursor: not-allowed;
  }